$color-main-lighter: #F2ECBE;
$color-main-light: #E2C799;
$color-main-medium: #C08261;
$color-main-dark: #9A3B3B;
$color-main-darker: #7a2f2f;

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: $color-main-light;
  transition: 0.3s;
  color: $color-main-dark;
  font-weight: bold;

  &:hover {
    background-color: $color-main-medium;
    color: black;
  }
}

h1 {
  color: $color-main-lighter;
}

.text-dark {
  color: $color-main-darker;
}

.fake-btn {
  border: none;
  border-radius: 5px;
  padding: 17px 30px;
  background-color: $color-main-light;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-main-dark;
}

.wrapper {
  background-color: $color-main-lighter;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-figures {
  display: flex;
  padding: 10px;
  gap: 10px;

  & > div {
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 100px;
    background-color: $color-main-light;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $color-main-medium;
    }
  }
}

.selected {
  border: 2px solid $color-main-dark;
}

.spot {
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
}

.dog {
  background-image: url("./images/dog.png");
}

.ship {
  background-image: url("./images/ship.png");
}

.shoe {
  background-image: url("./images/shoe.png");
}

.car {
  background-image: url("./images/car.png");
}

.btn-start {
  font-size: 1.5rem;
  margin: 20px 0;
}

.error-msg {
  color: red;
}

.board {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(5, 150px);
  gap: 10px;
  background-color: $color-main-medium;
  border-radius: 5px;
  position: relative;
}

.board-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.street-name {
  padding: 5px;
  border-radius: 3px;
  border: solid 1px $color-main-darker;
}

.card {
  background-color: $color-main-lighter;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  height: 40px;
}

.dice {
  background-color: $color-main-dark;
  border-radius: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 360px;
  left: 340px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 2px;
  gap: 2px;
}

.dot {
  background-color: $color-main-lighter;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.btn-roll {
  position: absolute;
  top: 380px;
  right: 340px;
  background-color: $color-main-dark;
  border-radius: 10px;
  padding: 10px 20px;
  color: $color-main-lighter;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $color-main-darker;
  }
}

.error-msg-big {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 320px;
}

.street-list {
  min-width: 170px;
  background-color: $color-main-medium;
  border-radius: 5px;

  & > div {
    background-color: $color-main-lighter;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 5px;
  }

  button {
    border: solid 1px $color-main-darker;
  }
}