* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #E2C799;
  transition: 0.3s;
  color: #9A3B3B;
  font-weight: bold;
}
button:hover {
  background-color: #C08261;
  color: black;
}

h1 {
  color: #F2ECBE;
}

.text-dark {
  color: #7a2f2f;
}

.fake-btn {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #E2C799;
  color: #C08261;
  opacity: 0.8;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9A3B3B;
}

.wrapper {
  background-color: #F2ECBE;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-figures {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.player-figures > div {
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  background-color: #E2C799;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.player-figures > div:hover {
  background-color: #C08261;
}

.selected {
  border: 2px solid #9A3B3B;
}

.spot {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
}

.dog {
  background-image: url("./images/dog.png");
}

.ship {
  background-image: url("./images/ship.png");
}

.shoe {
  background-image: url("./images/shoe.png");
}

.car {
  background-image: url("./images/car.png");
}

.btn-start {
  font-size: 1.5rem;
  margin: 20px 0;
}

.error-msg {
  color: red;
}

.board {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(5, 150px);
  gap: 10px;
  background-color: #C08261;
  border-radius: 5px;
  position: relative;
}

.board-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.street-name {
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #7a2f2f;
}

.card {
  background-color: #F2ECBE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px;
  color: #7a2f2f;
}

.card-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  height: 40px;
}

.dice {
  background-color: #9A3B3B;
  border-radius: 10px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 43%;
  left: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 2px;
  gap: 2px;
}

.dot {
  background-color: #F2ECBE;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.btn-roll {
  position: absolute;
  top: 47%;
  left: 53%;
  background-color: #9A3B3B;
  border-radius: 10px;
  padding: 10px 20px;
  color: #F2ECBE;
  cursor: pointer;
  transition: 0.3s;
}
.btn-roll:hover {
  background-color: #7a2f2f;
}

.error-msg-big {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 220px;
  left: 32%;
}

.street-list {
  min-width: 200px;
  background-color: #C08261;
  border-radius: 5px;
  padding: 5px;
}
.street-list > div {
  background-color: #F2ECBE;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 4px;
}
.street-list button {
  border: solid 1px #7a2f2f;
}

@media (max-width: 950px) {
  .board {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
  }
  .error-msg-big {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=App.css.map */
